<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<ul *ngIf='useraffiche!=="inconnu"'>
  <li><button (click)="rdm('accueil')" type="submit">Accueil</button></li>
  <li><button (click)="rdm('depense')" type="submit">Depense</button></li>
  <li><button (click)="rdm('rentree')" type="submit">Rentrées</button></li>
  <li><button (click)="rdm('saisie')" type="submit">Saisie</button></li>
  <li *ngIf='useraffiche.role=="parent"'><button (click)="rdm('budget')" type="submit">budget</button></li>
  <li *ngIf='useraffiche.role=="admin"'><button (click)="rdm('users')" type="submit">Utilisateur</button></li>
  <li *ngIf='useraffiche!="inconnu"'><button (click)="rdm('moncompte')" type="submit">{{useraffiche.login}}({{useraffiche.role}})</button></li>
  <li><button (click)="rdm('deconnexion')" type="submit">Deconnexion</button></li>
</ul>