<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<ul>
  <li><a href="/">Accueil</a></li>
  <li><a href="/depense">Depenses</a></li>
  <li><a href="/rentree">Rentrées</a></li>
  <li><a href="/gestion">Gestion</a></li>
  <li><a href="/deco">Deconnexion</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/cv">CV</a></li>
  <li><a href="/fff">Not Found !</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/personne">Personne</a></li>
</ul>